<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/assets/logo.svg">
    <title>TopicHub - Threads</title>
  </head>
  <body>
    <script src="/javascript/app.js"></script>

    <section class="header">
      <div class="logo-container">
        <img src="/assets/logo.png" onclick="window.location.href='/'" alt="Logo"/>
      </div>
      <div class="navigations">
        <a href="/dashboard">Home</a>
        <a href="/topics">Topics</a>
        <a href="/dashboard/#yourhub">Your Hub</a>
      </div>
      <button onclick="window.location.href='/logout'" class="logout-btn">Logout</button>
    </section>

    <section class="threads-intro">
      <h2><%= topic.title %></h2>
      <p>Explore the discussion below. Subscribers can post messages and contribute to the conversation</p>
    </section>

    <section class="create-message">
      <% if (subscribedTopics.map(id => id.toString()).includes(topic._id.toString())) { %>
        <h3>Post a message</h3>
        <form method="POST" action= "/topics/<%= topic._id %>/messages">
          <textarea name="body" placeholder="Write a message here..." required></textarea>
          <button type="submit" >Post message</button>
        </form>
        
      <% } else { %>
        <h3>Join the discussion</h3>
        <p>You must be subscribed to this topic to post messages.</p>
        <form method="POST" action="/topics/<%= topic._id %>/subscribe">
          <button type="submit">Subscribe to post</button>
        </form>
      <% } %>
    </section>

    <section class="topics-list">
        <div class="top">
            <h3>Messages</h3>
            <form method="POST" action="/topics/<%= topic._id %>/unsubscribe">
                <button type="submit" style="background: #9dac98; border: none; color: #122023; width: max-content; cursor: pointer; transition: 0.3s; :hover{background-color: #e8f7d7;}">Unsubscribe from topic</button>
            </form>
        </div>
      <div class="message-list-container">
        <% messages.forEach(msg => { %>
          <div class="message-card">
            <div class="message">
              <strong><%= msg.userId.username %></strong>
              <small><%= new Date(msg.createdAt).toLocaleString() %></small>
              <p style="color: #e8f7d7; margin: 10px 0;"><%= msg.body %></p>
            </div>
          </div>
        <% }) %>
      </div>
    </section>

    <section class="footer">
        <div class="logo-container">
            <img src="/assets/logo.png" alt="logo" onclick="window.location.href='/'"/>
        </div>
        <small>© All rights reserved...perhaps</small>
        <p>testmail@mail.com<br/>Hammond, LA</p>
    </section>

  </body>
  </html>