    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" type="image/svg+xml" href="/assets/logo.svg">
        <title>TopicHub - Topics</title>
    </head>
    <body>
        <script src="/javascript/app.js"></script>
        <script src="https://kit.fontawesome.com/2e967047e9.js" crossorigin="anonymous"></script>
    <section class="header">
        <div class="logo-container">
            <img src="/assets/logo.png" onclick="window.location.href='/'" alt="Logo"/>
        </div>
        <div class="navigations">
            <a href="/dashboard">Home</a>
            <a href="/topics">Topics</a>
            <a href="/dashboard/#yourhub">Your Hub</a>
        </div>
        <button onclick="window.location.href='/logout'" class="logout-btn">Logout</button>
    </section>


    <section class="topics-intro">
        <h2>Welcome to Topics!</h2>
        <p>Here, you can explore a variety of topics and subscribe to them.</p>
    </section>

    <section class="create-topic">
        <h3>Create a new topic</h3>
        <form method="POST" action="/topics">
            <label for="title">Title*</label>
            <input type="text" name="title" placeholder="Title" required />
            <label for="description">Description*</label>
            <textarea type="text" name="description" placeholder="Description" required ></textarea>
            <button type="submit">Create topic</button>
        </form>
    </section>

    <section class="topics-list">
        <h3>Explore topics</h3>
    
        <div class="topic-card-container">
            <% topics.forEach(topic => { %>
                <div class="topic-card">
                    <div>
                        <h4><%= topic.title %></h4>
                        <small><%= topic.timesAccessed %> Views</small>
                        <p><%= topic.description %></p>
                    </div>
                    <% if (subscribedTopics.map(id => id.toString()).includes(topic._id.toString())) { %>
                        <div class="topic-card-btns">
                            <form method="POST" action="/topics/<%= topic._id %>/unsubscribe">
                                <button type="submit" class="topic-card-btn">Unsubscribe</button>
                            </form>
                            <button onclick="window.location.href='/topics/<%= topic._id %>'" class="topic-card-btn">Read</button>
                        </div>
                    <% } else { %>
                        <div class="topic-card-btns">
                            <form method="POST" action="/topics/<%= topic._id %>/subscribe">
                                <button type="submit" class="topic-card-btn">Subscribe</button>
                            </form>
                            <form method="POST" action="/topics/<%= topic._id %>/update-times-accessed">
                                <button onclick="window.location.href='/topics/<%= topic._id %>'" class="topic-card-btn">Read</button>
                            </form>
                        </div>
                        
                    <% } %>
                    </div>
            <% }) %>
        </div>
    </section>

    <section class="footer">
        <div class="logo-container">
            <img src="/assets/logo.png" alt="logo" onclick="window.location.href='/'"/>
        </div>
        <small>© All rights reserved...perhaps</small>
        <p>testmail@mail.com<br/>Hammond, LA</p>
    </section>
    
    </body>
    </html>